
.slider-main {
  max-width: 760px;
  margin: 0px auto;
}
.slider-main img{
  width: 360px;
  object-fit: cover;

}



.thumbnail-slider-wrap {
  max-width: 360px;
  margin: 0 auto;
  height: 85px;
}

.thumbnail-slider-wrap img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
